<div class="container">
  <div class="row">
    <div class="col">
      <h6 class="float-left title fc-dark my-4">
        <i class="fa fa-percent mr-2"></i>Descuentos del Cliente</h6>
    </div>
    <div class="col-12 col-md-2 d-flex align-items-end justify-content-end mb-2">
      <div class="btn-group btn-group-sm" role="group">
        <button class="btn btn-before btn-primary"></button>
        <button class="btn btn-next btn-primary"></button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
